@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    background-color: black;
}

#nav-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("IMG_2859.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#nav-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    height: 50%;
    width: 50%;
    border-style: solid;
    border-color: greenyellow;
    border-radius: 10%;
    list-style: none;
    box-shadow: 10px 5px 5px white;
}

.nav-bar-member {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%
}

h2 {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.form-title {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.form-field {
    background-color: white;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body, html {
    height:100%;
    background-color: black;
}

#game-container {
    display: none;
    background-image: url("IMG_2859.JPG");
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

#dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    width: 30%;
    border-style: solid;
    border-color: greenyellow;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    background-color: white;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}

#welcome-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    align-items: center;
}

#rules-container {
    display: none;
    width: 40%;
    margin-bottom: 30px;
    border-style: solid;
    border-color: greenyellow;
}

.rule-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.rules{
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12pt;
}

#close-rules-button {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}

canvas {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-top: 50px;
    border-style: solid;
    border-color: greenyellow;
}

#leaderboard-container {
    display: block;
    width: 30%;
    margin-bottom: 30px;
    border-style: solid;
    border-color: greenyellow;
}

#leaderboard {
    width: 80%;
    align-items: center;
    border-style: solid;
    border-color: white;
}

#leaderboard-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#leaderboard-title {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

#leaderboard-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: solid;
    border-color: white;
}

.lb-header {
    width: 40%;
    color: greenyellow;
    font-family: 'Press Start 2P', cursive;
}